header {
    background-color: rgb(72, 79, 85);
    width: 100%;
    height: 100px;

}
.main-grouping {
    display: inline;

}
.left {
    background-color: rgba(227, 226, 229, 0.966);
    width: 100px;
    height: 750px;
    float: left;
}
.right {
    background-color: rgba(227, 226, 229, 0.966);
    width: 100px;
    height: 750px;
    float: right;
}
footer {
    background-color: rgb(40, 41, 42);
    height: 100px;
    position: center;
    margin-top: 650px;

}